body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #69ff69;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para los botones */
input[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

/* Estilos para el área de texto */
textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para la sección de clave secreta */
#txtClave {
    margin-bottom: 20px;
}

/* Estilos para el botón de copiar */
.btn-info {
    background-color: #ea00ff;
    color: #fff;
}

/* Estilos para centrar el contenedor */
.center-block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
