body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8de8ff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilos para las áreas de texto y selección */
textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para slider */
input[type="range"] {
    width: 100%;
}

/* Estilos para los botones */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

/* Estilos para el botón de reinicio */
.btn-secondary {
    background-color: #ff0000;
    color: #ffffff;
}

/* Estilos para el botón de cifrar/decifrar */
.btn-primary {
    background-color: #007bff;
    color: #fff;
}

/* Estilos para el campo de resultado */
#resultado {
    background-color: #f0f0f0;
}

.option {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}